* {
    padding: 0;
    margin: 0;
    top: 0px;
  }

  a:link{
  background-color: rgb(252, 240, 82);
  color:rgb(32, 23, 73);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-variant: small-caps;
  font-size: 24px;
  font-weight: bold;
  border-radius: 48%;
  line-height: 100%;
  position: relative;
  top: 80px;
  left: 30px;
  margin: 3px;
  border:groove;
  }

  a:hover{
    background-color: rgb(32, 23, 73);
    color:rgb(247, 169, 26);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  nav {
    background-color: rgb(32, 23, 73);
    height: 100vh;
    width: 170px;
    position: fixed;
    transform: translateX(-150px);
    transition: transform 0.3s ease-in-out;
    text-align: justify;
  }
  
  nav:after {
    content: '';
    background: rgb(32, 23, 73);
    height: 80px;
    width: 80px;
    position: absolute;
    right: -40px;
    top: 40px;
    border-radius: 80%;
  }
  
  nav:hover {
    transform: translateX(0px);
  }

body{
    background-image: url(https://images.squarespace-cdn.com/content/v1/5687cbef5a56682e0b7e1f92/1453044073995-9SRTW5JQXYF84BI79PFR/ke17ZwdGBToddI8pDm48kBL7y0DpH_e0bbX7enFn0u57gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UT4ke-2faLbDJ2EQYXZquaaYAmln24LeHvojPJ-RAjfURBpFeAJxHLqEa5Otf4mhGw/Julia_Hamilton_Quantum_Flux.jpg?format=2500w);
    background-repeat: no-repeat;
    background-size: 1500px 1300px;
    text-align: center;
}

.aboutme{
        width: 270px;
        border: 2px ridge rgb(32, 23, 73);
        background-color:rgb(228, 228, 228);
        padding: 50px;
        margin: 20px;
        position: fixed;
        right: 200px;
        top: 30px;
        color: rgb(32, 23, 73);
        text-align: center;
        font-size: 12px;
        font-weight: bolder;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

