body {
  background-color: black;
}

.javaSpringContainer {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeTo {
  margin: 50px;
  padding: 30px;
  border: white solid 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.potatoReview {
  margin: 50px;
  padding: 30px;
  border: white solid 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carBlog {
  margin: 50px;
  padding: 30px;
  border: white solid 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.virtualPets {
  margin: 50px;
  padding: 30px;
  border: white solid 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.highStHospital {
  margin: 50px;
  padding: 30px;
  border: white solid 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectDescriptions {
  font-family: 'Roboto', 'Arial Narrow', Arial, Helvetica, sans-serif;
}

a {
  padding: 15px;
  text-decoration: none;
  color: white;
  font-family: 'Roboto', 'Arial Narrow', Arial, Helvetica, sans-serif;
  font-size: 30px;
}

img {
  width: 80%;
}
/*# sourceMappingURL=projects.css.map */