$projectPadding: 30px;
$projectMargin: 50px;
$borderWidth: 60%;

body{
  background-color: black;
}

#pageTitle {
  margin: 0px;
  color: white;
  font-family: 'Roboto', 'Arial Narrow', Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
}

.projectDescriptions {
  font-family:'Roboto', 'Arial Narrow', Arial, Helvetica, sans-serif;
}

a {
  padding: 15px;
  text-decoration: none;
  color: white;
  font-family:'Roboto', 'Arial Narrow', Arial, Helvetica, sans-serif;
}

.projectTitle {
  font-size: 30px;
}

img {
  width: 80%;
}

footer {
  color: white;
  font-family:'Roboto', 'Arial Narrow', Arial, Helvetica, sans-serif;
  text-align: center;
}

.javaSpringContainer{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.javaScriptContainer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectBox {
  margin: $projectMargin;
  padding: $projectPadding;
  border: white solid 1px;
  box-sizing: border-box;
  width: $borderWidth;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}