* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(./rainbowMandala.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headline {
  color: white;
  position: fixed;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 50;
  font-size: 56px;
}

.typewriter {
  overflow: hidden;
  border-right: .1em solid purple;
  white-space: nowrap;
  letter-spacing: .05em;
  -webkit-animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
          animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}

@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: purple;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: purple;
  }
}

.navContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-btn {
  background: #f552f5;
  border: groove;
  border-color: #c740c7;
  border-radius: 50%;
  position: absolute;
  top: -140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  z-index: 4;
}

.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: black;
  border-radius: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: black;
  border-radius: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

.menu-btn__burger::after {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

.contact {
  width: 80px;
  height: 80px;
  background: #9e52f5;
  border: groove;
  border-color: #6d3ba7;
  border-radius: 50%;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-variant: small-caps;
  font-weight: 500;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -140px;
  z-index: 3;
}

.contact.open {
  -webkit-animation-name: contactOpen;
          animation-name: contactOpen;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.contact.close {
  -webkit-animation-name: contactClose;
          animation-name: contactClose;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes contactOpen {
  from {
    left: 0px;
  }
  to {
    left: 80px;
  }
}

@keyframes contactOpen {
  from {
    left: 0px;
  }
  to {
    left: 80px;
  }
}

@-webkit-keyframes contactClose {
  from {
    top: -140px;
    left: 80px;
  }
  to {
    top: -140px;
    left: -40px;
  }
}

@keyframes contactClose {
  from {
    top: -140px;
    left: 80px;
  }
  to {
    top: -140px;
    left: -40px;
  }
}

.techStack {
  width: 80px;
  height: 80px;
  background: #5c95ff;
  border: groove;
  border-color: #3f6cc0;
  border-radius: 50%;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-variant: small-caps;
  font-weight: 500;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -140px;
  z-index: 2;
}

.techStack.open {
  -webkit-animation-name: techStackOpen;
          animation-name: techStackOpen;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.techStack.close {
  -webkit-animation-name: techStackClose;
          animation-name: techStackClose;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes techStackOpen {
  from {
    top: -140px;
    left: -40px;
  }
  to {
    top: -35px;
    left: 25px;
  }
}

@keyframes techStackOpen {
  from {
    top: -140px;
    left: -40px;
  }
  to {
    top: -35px;
    left: 25px;
  }
}

@-webkit-keyframes techStackClose {
  from {
    top: -35px;
    left: 25px;
  }
  to {
    top: -140px;
    left: -40px;
  }
}

@keyframes techStackClose {
  from {
    top: -35px;
    left: 25px;
  }
  to {
    top: -140px;
    left: -40px;
  }
}

.projects {
  width: 80px;
  height: 80px;
  background: #5cf764;
  border: groove;
  border-color: #42b648;
  border-radius: 50%;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-variant: small-caps;
  font-weight: 500;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -140px;
  z-index: 1;
}

.projects.open {
  -webkit-animation-name: projectsOpen;
          animation-name: projectsOpen;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.projects.close {
  -webkit-animation-name: projectsClose;
          animation-name: projectsClose;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes projectsOpen {
  from {
    top: -140px;
    left: -40px;
  }
  to {
    top: -35px;
    left: -105px;
  }
}

@keyframes projectsOpen {
  from {
    top: -140px;
    left: -40px;
  }
  to {
    top: -35px;
    left: -105px;
  }
}

@-webkit-keyframes projectsClose {
  from {
    top: -35px;
    left: -105px;
  }
  to {
    top: -140px;
    left: -40px;
  }
}

@keyframes projectsClose {
  from {
    top: -35px;
    left: -105px;
  }
  to {
    top: -140px;
    left: -40px;
  }
}

.aboutMe {
  width: 80px;
  height: 80px;
  background: #e5f55b;
  border: groove;
  border-color: #a9b443;
  border-radius: 50%;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-variant: small-caps;
  font-weight: 500;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -140px;
  z-index: 0;
}

.aboutMe.open {
  -webkit-animation-name: aboutMeOpen;
          animation-name: aboutMeOpen;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}

.aboutMe.close {
  -webkit-animation-name: aboutMeClose;
          animation-name: aboutMeClose;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes aboutMeOpen {
  from {
    top: -140px;
    left: -40px;
  }
  to {
    top: -140px;
    left: -160px;
  }
}

@keyframes aboutMeOpen {
  from {
    top: -140px;
    left: -40px;
  }
  to {
    top: -140px;
    left: -160px;
  }
}

@-webkit-keyframes aboutMeClose {
  from {
    top: -140px;
    left: -160px;
  }
  to {
    top: -140px;
    left: -40px;
  }
}

@keyframes aboutMeClose {
  from {
    top: -140px;
    left: -160px;
  }
  to {
    top: -140px;
    left: -40px;
  }
}

#contactLink {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

#techStackLink {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

#projectsLink {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

#aboutMeLink {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.contactTitle {
  color: #9e52f5;
  position: fixed;
  top: 40px;
  font-family: 'Roboto','Arial Narrow', Arial, Helvetica, sans-serif;
  font-weight: 2;
  font-size: 60px;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactSection {
  position: fixed;
  top: 130px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons {
  color: white;
}

.iconDesc {
  color: white;
  font-family: 'Roboto','Arial Narrow', Arial, Helvetica, sans-serif;
}

.techStackTitle {
  color: #5c95ff;
  position: fixed;
  top: 40px;
  font-family: 'Roboto','Arial Narrow', Arial, Helvetica, sans-serif;
  font-weight: 2;
  font-size: 60px;
}

.techStackContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.technologyStack {
  text-align: center;
  color: white;
  font-family: 'Roboto','Arial Narrow', Arial, Helvetica, sans-serif;
  width: 30%;
  font-size: 20px;
  position: fixed;
  top: 140px;
}

.projectsTitle {
  color: #5cf764;
  position: fixed;
  top: 40px;
  font-family: 'Roboto','Arial Narrow', Arial, Helvetica, sans-serif;
  font-weight: 2;
  font-size: 60px;
}

.projectsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectSection {
  color: white;
  font-size: 25px;
  font-weight: 2;
  font-variant: small-caps;
  font-family: 'Roboto', 'Arial Narrow', Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.javaProjects {
  color: white;
  text-decoration: none;
  padding: 7px;
  position: fixed;
  top: 160px;
  border: 1px dotted;
}

.javaProjects:hover {
  cursor: pointer;
  border: 1px solid;
}

.javaScriptProjects {
  color: white;
  text-decoration: none;
  padding: 7px;
  position: fixed;
  top: 240px;
  border: 1px dotted;
}

.javaScriptProjects:hover {
  cursor: pointer;
  border: 1px solid;
}

.aboutMeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutMeTitle {
  color: #e5f55b;
  position: fixed;
  top: 40px;
  font-family: 'Roboto','Arial Narrow', Arial, Helvetica, sans-serif;
  font-weight: 2;
  font-size: 60px;
}

.aboutMeStatement {
  width: 50%;
  color: white;
  font-family: 'Roboto','Arial Narrow', Arial, Helvetica, sans-serif;
  font-size: 16px;
  position: fixed;
  top: 120px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  position: fixed;
  top: 0px;
}

.navLinks {
  text-decoration: none;
  padding: 10px;
  font-family: 'Roboto','Arial Narrow', Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  font-size: 18px;
}

a:visited {
  text-decoration: none;
}

.navLinks__back {
  color: #f552f5;
}

.navLinks__projects {
  color: #5cf764;
}

.navLinks__techStack {
  color: #5c95ff;
}

.navLinks__contact {
  color: #9e52f5;
}

.navLinks__aboutMe {
  color: #e5f55b;
}

.fa-linkedin {
  color: white;
}

@media (min-width: 1400px) {
  .aboutMeStatement {
    padding: 75px;
  }
}
/*# sourceMappingURL=styles.css.map */